.banner {
  max-width: 100%;
  padding-block: 2.5rem;
  
  overflow: hidden;

  .scroller {
    width: 100%;
    padding-block: 1rem;
    
    overflow: hidden;
  }

  .rolling {
    gap: 1.5rem;
    display: flex;

    animation: rolling 2s linear infinite;
  }

  .bg-gradient-animate {
    background-size: 400%;
    background-position: 0 50%;
    animation: bg-gradient 20s ease infinite;
    background: linear-gradient(
      45deg,
      var(--snitap-sky-light),
      var(--snitap-joy-light)
    );
  }
}

@keyframes rolling {
  to {
    transform: translate(-132px);
  }
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}